<%= render partial: 'layouts/shared/navbar'%>
<hr>
<h4 class="text-primary">
    <%= link_to '<i class="bi bi-arrow-left-short text-info"></i>'.html_safe, accounts_path(),
                  method: :get%>
    Edit Account</h4>
<%= render "form", account: @acc %>